.widget{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  transition: .5s;


  .text{
    transition: .5s;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    width: 30%;
    height: 55vh;
    background-color: rgba(1, 1, 1, 0.5);

    color: white;

    h4{
      margin: 10px 30px;
      font-weight: lighter;
    }
    p{
      margin: 10px 30px;
      font-size: 47px;
    }
  }

  .picture{
    transition: .5s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 1, 1, 0.5);
    }
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: #111;
    width: 70%;
    height: 55vh;


  }
}
