
@media (max-width: $tablet-width-big) {
  .widget .text {
    width: 40%;
  }
  .widget .picture {
    width: 60%;
  }
}
@media (max-width: $tablet-width-small) {

}
@media (max-width: $tablet-width-xsmall) {
  .widget {
    position: relative;
  }
  .widget .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .widget .picture {
    width: 100%;
  }

}
@media (max-width: $smartphone-width-big) {
  .widget {
    height: 85vh;
    .text p {
      font-size: 40px;
    }
  }

  .widget .picture {
    height: 85vh;

  }
}
@media (max-width: 320px) {
  .widget .text {
    p {
      font-size: 30px;
    }
  }
}
